*{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.container-nav{
    max-width: 1400px !important;
    
}

.container-main {
    overflow: visible !important;
    max-width: 800px !important;
    
}

body {
    background-color: #0d1b2a;
    color: white;
    font-family: Arial, sans-serif;
    
}

.navbar {
    margin-bottom: 0;
}

.header-section {
    position: relative;
    height: 100vh;
    background-image: url('../images/Intersect.png'); /* Ajuste para usar a imagem como fundo */
    background-size: cover;
    background-position: center;
    color: white;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um overlay escuro */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.header-section .container {
    z-index: 1;
    position: relative;
}

.header-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn-primary {
    background-color: #1f6feb;
    border-color: #1f6feb;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #1558b3;
    border-color: #1558b3;
}

/* Navbar */
.navbar-logo{
    height: 60px !important;
}

.custom-bg {
    background-color: #180045;
}

.navbar-brand {
    margin-left: 140px;
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-logo-text {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
}

.navbar-nav {
    margin-right: 140px;
    align-items: center;
}

.nav-link {
    color: #fff;
    padding: 10px 15px;
}

.nav-item {
    position: relative;
}

.navbar-separator {
    width: 1px;
    height: 30px;
    background-color: #fff;
    margin: 0 15px;
}

/* first section */

.title-scdt {
    font-size: 6.5rem !important;
  }
  
  .subtitle-scdt {
    font-size: 1.5rem !important;
    width: 60%;
  }
  
  .button-scdt {
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem !important;
    color: #fff;
    font-size: 14px;
    height: auto;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(175deg, #7c8aff, #3c4fe0);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
      0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all 0.2s ease-out;
    :hover {
      box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
        0 4px 6px 0 rgb(93 100 148 / 20%);
    }
  }

.button-container{
    display: flex;
    align-items: flex-end;
}

/* Estilo e animação da imagem hexagonal */
.hexagon-container {
    justify-content: flex-center;
    align-items: center;
    animation: moveUpDown 7s ease-in-out infinite;
    width: 90%;
  }
  
  .hexagon-image {
    width: 100%; /* Ajusta o tamanho da imagem hexagonal */
    height: auto;
  }
  
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

.row{
    padding: 10%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
/* second section */

.about-section {
     /* Define o fundo transparente para o stroke */
    border: 4px solid #0d1b2a; /* Adiciona um stroke azul escuro */
    padding: 50px;
}

.container {
    max-width: 1200px;
    height: 100%!important;
    margin: 0 auto;
     /* Para evitar que o conteúdo ultrapasse a largura máxima */
}



.sub{
    position: relative;
    left: -270px;
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #c9e8ff, #72b4e5);
    -webkit-background-clip: text; /* Aplica o degrade ao texto */
    -webkit-text-fill-color: transparent; /* Define a cor do texto como transparente */
     
}

.about-text {
    text-align: left;
    padding-top: 10px;
    padding-left: 3px; /* Espaçamento da borda esquerda */
}

.about-text p {
    margin: 20;
    font-size: 1.2rem;
}


/* carousel section */



#slider {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;    
    text-align: justify;
    position: relative;
    font-size: 80%;
}
#slider h2{
    position: relative;
    top: -7rem;
    
}
#slider p{
    position:relative;
    top: -5rem;
    font-size: 100%;
    
}

.sub2{
    position: relative;
    left: 17rem;
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #c9e8ff, #72b4e5);
    -webkit-background-clip: text; /* Aplica o degrade ao texto */
    -webkit-text-fill-color: transparent; /* Define a cor do texto como transparente */
     
}
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 500px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background-image: url(http://127.0.0.1:5500/LandingPageV2/images/1.png);
 }
 #slides .slide_2 {
    background-image: url(http://127.0.0.1:5500/LandingPageV2/images/1.png);
 }
 #slides .slide_3 {
    background-image: url(http://127.0.0.1:5500/LandingPageV2/images/1.png);
 }
 #slides .slide_4 {
    background-image: url(http://127.0.0.1:5500/LandingPageV2/images/1.png);
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #000;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #fff;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }


/* Team members */

.container-team{
    margin:70px 40px;
    color: white;
}
.container-team h2{
    margin:60px -10px;
    position: relative;
    left: 55px;
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #c9e8ff, #72b4e5);
    -webkit-background-clip: text; /* Aplica o degrade ao texto */
    -webkit-text-fill-color: transparent; /* Define a cor do texto como transparente */
}

.profiles{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

.profile{
    flex-basis: 260px;
}

.profile .profile-img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
    position: relative;
    left: 50px;
}

.profile:hover .profile-img{
    filter: grayscale(0);
}

.user-name{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.profile h5{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
    text-align: center;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
