*{
    font-family: Arial, sans-serif;
}

body {
    background-color: #0d1b2a;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.header-section {
    position: relative;
    height: 100vh;
    background-image: url('../images/cyberlock.webp'); /* Ajuste para usar a imagem como fundo */
    background-size: cover;
    background-position: center;
    color: white;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um overlay escuro */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.header-section .container {
    z-index: 1;
    position: relative;
}

.header-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn-primary {
    background-color: #1f6feb;
    border-color: #1f6feb;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #1558b3;
    border-color: #1558b3;
}


/* Estilo e animação da imagem hexagonal */
.hexagon-container {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    animation: moveUpDown 3s ease-in-out infinite;
}

.hexagon-image {
    max-width: 80%; /* Ajusta o tamanho da imagem hexagonal */
    height: auto;
    border-radius: 10px;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* second section */

.about-section {
     /* Define o fundo transparente para o stroke */
    border: 4px solid #0d1b2a; /* Adiciona um stroke azul escuro */
    padding: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; /* Para evitar que o conteúdo ultrapasse a largura máxima */
}



.about-content h2 {
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #c9e8ff, #72b4e5);
    -webkit-background-clip: text; /* Aplica o degrade ao texto */
    -webkit-text-fill-color: transparent; /* Define a cor do texto como transparente */
     
}

.about-text {
    text-align: left;
    padding-top: 10px;
    padding-left: 3px; /* Espaçamento da borda esquerda */
}

.about-text p {
    margin: 20;
    font-size: 1.2rem;
}


/* carousel section */

.container{
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    overflow: hidden;

}

.carousel{
    display: flex;
}

.carousel input{
    display: none;
}


.products-section {
    padding: 50px 0;
    text-align: center;
}

.products-section h2 {
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #c9e8ff, #72b4e5);
    -webkit-background-clip: text; /* Aplica o degrade ao texto */
    -webkit-text-fill-color: transparent; /* Define a cor do texto como transparente */
}

.slide{
    top: 0;
    left: 0;
    
    position: relative;
     /* Definindo o tamanho da imagem como o tamanho original */
    /* Para garantir que a imagem não seja repetida */
}

.content img{
    width: 1000px;
    height: 500px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 550px;
    margin-left: 100px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: #fff;
}


.slide h3{
    padding-top: 10rem;
    text-align: center;
    padding-top: px;
    padding-left: 3px; /* Espaçamento da borda esquerda */
    padding-left: 1rem;
    font-size: 54px;
}

.slide p{
    text-align: left;
    padding-top: 10px;
    padding-left: 1rem;
    padding-bottom: 50rem ;
    font-size: 24;
}

#radio1:checked ~ .slide{
    margin-left: -701px;
    margin-right: 40px;
}

#radio2:checked ~ .slide{
    margin-left: -701px;
    margin-right: 40px;
}

#radio3:checked ~ .slide{
    margin-left: -701px;
    margin-right: 40px;
}

#radio4:checked ~ .slide{
    margin-left: -701px;
    margin-right: 40px;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 880px;
    margin-top: 550px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-left: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}



